
    {{> head }}
    {{> navbar }}

    <div class="row">
        <div class="col-8">
            <h1>Shanghai</h1>
            <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
            </p>
        </div>

        <div class="col-4">
            <img src="assets/img/photo.jpg" class="img-thumbnail">
        </div>

    </div>

    {{> footer }}